body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

nav ul li a.active {
    background-color: #555;
}

.container {
    margin-left: 300px; /* Adjust according to navbar width */
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.medicine-cards-container {
    width: 70%; /* Adjust according to your needs */
    display: flex;
    flex-wrap: wrap;
}

.medicine-card {
    width: calc(28% - 1px); /* Adjust according to your needs and consider margin */
    margin-right: 20px; /* Add margin between cards */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin between cards */
    padding: 10px;
}

.medicine-card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.medicine-details-card {
    height: auto;
    width: 33%; /* Adjust according to your needs */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medicine-details-card h2 {
    margin-top: 5;
    margin-left: 35px;
    /* padding:20px; */
}

/* Medicine details content */
.medicine-details-content {
    display: flex;
    align-items: center;
}

/* Selected medicine image */
#selected-medicine-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

#selected-medicine-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Selected medicine details */
#selected-medicine-details {
    flex: 1;
}
